.PersonHeader {
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  font-size: large;
  font-weight: bold;
  height: 65px;
  justify-content: space-between;
  padding: 0 10px;
}

.PersonHeader img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 50%;
  border: solid white 2px;
}
