.NewPersonForm {
  margin: 5px;
  padding: 5px;
}

.NewPersonForm h3 {
  margin-top: 3px;
  margin-bottom: 15px;
}

.NewPersonForm h2 {
  margin-top: 0;
}

.NewPersonForm ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.NewPersonForm form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.NewPersonForm div + div {
  margin-top: 1em;
}

.NewPersonForm label span {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.NewPersonForm input, textarea {
  font: 1em sans-serif;
  width: 250px;
  height: 2em;
  box-sizing: border-box;
  border: 1px solid #999;
}

.NewPersonForm input[type=checkbox], input[type=radio] {
  width: auto;
  border: none;
}

.NewPersonForm input:focus, textarea:focus {
  border-color: #000;
}

.NewPersonForm textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.NewPersonForm fieldset {
  width: 250px;
  box-sizing: border-box;
  margin-left: 136px;
  border: 1px solid #999;
}

.NewPersonForm button {
  display: block;
  background-color: #17cf52;
  padding: 10px;
  width: 7em;
  text-align: center;
  border-radius: 10px;
  color: #111111;
  text-decoration: none;
  font-size: 11pt;
  margin: 0 auto;
}

.NewPersonForm button:hover {
  cursor: pointer;
}

.NewPersonForm label {
  position: relative;
}

.NewPersonForm label em {
  position: absolute;
  right: 5px;
  top: 20px;
}

.NewPersonForm label {
  margin-right: 3px;
}

.NewPersonForm input + div {
  color: red;
  text-align: right;
  font-size: 9pt;
  margin-top: 2px;
  margin-right: 1.5em;
}
