.OneOnOneNotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OneOnOneNotes textarea {
  width: 200px;
  height: 100px;
}

.OneOnOneNotes p {
  font-size: small;
  font-weight: bold;
  padding: 0;
}
