.OneOnOneNotes {
  padding: 3px;
}

/* The text area */
.NoteAreaEdit {
  width: 200px;
  height: 100px;
}

/* The div displaying text area content */
.NoteAreaShow {
  width: 200px;
  height: 100px;
  font-size: x-small;
  padding: 3px;
  white-space: pre;
}
