.SendTo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  width: 75%;
  background: #efefef;
  border: 2px solid #282c34;
  border-radius: 5px;
  padding: 5px;
}

.SendTo h3 {
  font-size: 13pt;
  font-weight: bold;
}
