.OneOnOneMinutes {
  margin-bottom: 15px;
  /*    border-top: 1px solid black; */
}

.Notepad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Notepad p {
  font-size: small;
  font-weight: bold;
  padding: 0;
}
