.App nav {
  display: flex;
  justify-content: flex-end
}

.App nav ul {
  padding: 5px;
  margin: 5px;
  list-style: none;
}

.App nav ul li {
  display: block;
}

.App nav ul li a,
.App nav ul li a:active,
.App nav ul li a:hover,
.App nav ul li a:visited {
  text-decoration: none;
}
