.MinutesTextArea {
  padding: 3px;
}

.TextArea {
}

.TextAreaEdit {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  font-size: 11pt;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
  border: none;
}

.TextAreaShow {
  width: 100%;
  min-height: 130px;
  padding: 3px;
  white-space: pre;
  font-size: 11pt;
}
